/* ===== Base layout ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition:
    background 0.3s,
    color 0.3s;

  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* places card slightly below top */
  padding-top: 20vh;
}

/* ===== Themes ===== */
body.light {
  background: lightblue;
  color: #111;
}

body.dark {
  background: #111;
  color: #f4f4f4;
}

/* ===== Theme toggle ===== */
.theme-box {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background: whitesmoke;
  border-radius: 1rem;
  padding: 0.25rem 0.4rem;
}

#themeBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

/* ===== Weather card ===== */
.weather-card {
  width: min(320px, 90%);
  min-height: 350px;

  background: whitesmoke;
  border-radius: 1rem;
  padding: 1.75rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

body.dark .weather-card {
  background: #222;
  color: #fff;
}

/* ===== Search row ===== */
.search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.search-loc {
  width: 1.25rem;
  height: 1.25rem;
}

#searchInput {
  flex: 1;
  height: 2.25rem;
  border-radius: 999px;
  border: 1px solid #ccc;
  padding: 0 0.75rem;
}

#searchBtn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#searchBtn:hover {
  background: #ddd;
}

body.dark #searchInput {
  background: #222;
  color: #fff;
  border: 1px solid #555;
}

body.dark #searchBtn {
  background: #444;
}

/* ===== Main weather text ===== */
.city-text {
  margin: 0.25rem 0 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.main-row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.temp-text {
  font-size: 3rem;
  font-weight: 800;
}

.wx-icon {
  width: 5rem;
  height: 5rem;
}

.cond-text {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

/* ===== Details ===== */
.detail-grid {
  width: 100%;
  display: flex;
  gap: 0.75rem;
}

.detail-item {
  flex: 1;
  text-align: center;
}

.detail-name {
  font-size: 0.8rem;
  color: #777;
}

.detail-value {
  font-weight: 800;
}
