body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
  transition: 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

body.dark {
  background: #111;
  color: white;
}

.toggle-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.toggle-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 10%;
  background: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn img {
  width: 20px;
  height: 20px;
}

#location-icon {
  width: 1.25rem;
  height: 1.25rem;
}

#search-bar {
  height: 1.5em;
  width: 16em;
  border-radius: 1em;
}

#search-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#search-button:hover {
  background-color: gray;
  transform: scale(1.1);
}

body.dark #search-bar {
  background: #222;
  color: white;
  border: 1px solid #555;
}

body.dark #search-button {
  background: #444;
}

#search-container {
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: whitesmoke;
  max-width: 320px;
}

body.dark .weather-card {
  background: #222; /* darker background */
  color: white;
}

.weather-card img {
  transition: filter 0.3s;
}

body.dark .weather-card img {
  filter: invert(1) brightness(1.2); /* makes a black SVG turn white-ish */
}

.city {
  margin: 2.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 0;
}

.main-info {
  display: flex;
  align-items: center;
  gap: 2em;
  line-height: 0.5;
}

.temp {
  font-size: 3rem;
  font-weight: 700;
}

.weather-icon {
  width: 5rem;
  height: 5rem;
}

.condition {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 0.2;
}

.details {
  display: flex;
  gap: 0.5em;
  width: 100%;
  padding-bottom: 0.5rem;
}

.detail {
  flex: 1;
  text-align: center;
}
.title {
  color: #777;
  font-size: 0.8rem;
}
.value {
  font-weight: 700;
}
